<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContosoBooks.Properties.Settings.aspnet5_ContosoBooks_c51843ad_4ae8_461d_9be5_ba1f8442964eConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet5-ContosoBooks-c51843ad-4ae8-461d-9be5-ba1f8442964e;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>